fastapi
uvicorn[standard]
pydantic
pydantic-settings
# ORM recomendado por FastAPI
sqlmodel
sqlalchemy>=2.0
psycopg2-binary

# Validación / seguridad / auth JWT
python-jose
passlib[bcrypt]

# Migraciones de base de datos
alembic

# Utilidades típicas
python-multipart
python-dotenv
bcrypt
passlib
pandas
requests

# CORS middleware (si usas frontend separado)
starlette==0.41.0
